<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/caterer_detail.css">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="main" id="detail_box"></div>
        <div id="review_box" class="other"></div>
    </div>
    <script src="./js/caterer_detail.js"></script>
</body>

</html>