<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/login.css">
</head>

<body>
    <div class="container">
        <div class="innercontainer row">
            <div class="image-section"><img src="../image/login_img.jpeg" alt=""></div>
            <div class="register-section">
                <div class="heading-section">
                    <span>Sign</span> In
                </div>
                <form class="form" action="/login" method="post">
                    <div class="profile-pic"><img src="#" alt=""></div>
                    <div class="input-field">
                        <div class="input-container">
                            <label for="">Email-Id</label>
                            <input type="email" placeholder="# Enter your Email-ID" name="email">
                        </div>
                        <div class="input-container">
                            <label for="">Password</label>
                            <input type="password" placeholder="# Enter your Password" name="password">
                        </div>
                    </div>
                    <div class="button">
                        <button type="submit" name="get_otp">Login</button>
                    </div>
                </form>
                <p>New user? <a href="/register">Sign-Up</a></p>
            </div>
        </div>
    </div>
    <script src="./js/login.js"></script>
</body>
</html>