<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/order_details.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <a href="/users">BOOK MY CATERING </a>
                </div>
            </div>
            <div class="tags">
                <span><a href="/users">CATERING</a></span>
                <span><a href="/orderPreview" id="active">ORDERS</a></span>
                <span><a href="/about.html">ABOUT</a></span>
                <span><a href="/contact.html">CONTACT</a></span>
            </div>
            <div class="right">
                <div class="nav-button">
                    <a href="/login">LOGOUT</a>
                </div>
            </div>
        </nav>
    </header>
      <div class="container">
        <div class="heading">Order Details</div>
        <div class="main">
            <div class="left-details">
                <div class="left-block">
                    <h2>Booking Details</h2>
                    <div class="left-item">
                        <label for="caterers-name">Caterers Name</label>
                        <p>:</p>
                        <p>Mohan Caterers</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Venue Address</label>
                        <p>:</p>
                        <p>Ghaziabad, Greater Noida,Faridabad</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">No. of people </label>
                        <p>:</p>
                        <p>500</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">No. of Caterers</label>
                        <p>:</p>
                        <p>50</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Booking Date</label>
                        <p>:</p>
                        <p>12/4/2022 </p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Event Date</label>
                        <p>:</p>
                        <p>20/4/2022 </p>
                    </div>
                    <div class="dashed-border"></div>
                    <div class="left-item">
                        <label for="caterers-name">Total Item</label>
                        <p>:</p>
                        <p>30</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Price/Plate</label>
                        <p>:</p>
                        <p>₹ 300</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Total</label>
                        <p>:</p>
                        <p>₹ 50,000</p>
                    </div>
                </div>
            </div>
            <div class="right-details">
                <h2>Menu Items</h2>
                <div class="right-block">
                    <h3>Break Fast</h3>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <h3>Break Fast</h3>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <h3>Break Fast</h3>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 150</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/order_view_details.js"></script>
</body>

</html>