
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
</head>

<body>
    {{>header}}
    <div class="container">
        <div class="filter">
            <a href="#">TOP RESULTS</a>
            <a href="#">POPULARITY</a>
            <a href="#">LOCATION</a>
            <a href="#">RATING</a>
            <a href="#">PRICE</a>
        </div>
        <div class="containts" id="cards"></div>
        <script src="./js/welcome.js"></script>
</body>

</html>