<header>
        <nav>
            <div class="left">
                <div class="logo">
                    <a href="/users">BOOK MY CATERING </a>
                </div>
            </div>
            <div class="tags">
                <span><a href="/cater_menu_form" id="active">MENU</a></span>
                <span><a href="/orderPreview">ORDERS</a></span>
                <span><a href="#">SERVICES</a></span>
                <span><a href="#">CONTACT</a></span>
            </div>
            <div class="right">
                <div class="button">
                    <a href="/login">LOGOUT</a>
                </div>
            </div>
        </nav>
    </header>