<header>
      <nav>
          <div class="left">
              <div class="logo">
                  <a href="/users">BOOK MY CATERING </a>
              </div>
          </div>
          <div class="tags">
              <span><a href="/users" id="active">CATERING</a></span>
              <span><a href="/orderPreview">ORDERS</a></span>
              <span><a href="#">ABOUT</a></span>
              <span><a href="#">CONTACT</a></span>
          </div>
          <div class="right">
              <div class="nav-button">
                  <a href="/logout">LOGOUT</a>
              </div>
          </div>
      </nav>
  </header>