<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/caterer_order_details.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <a href="./index.html">BOOK MY CATERING </a>
                </div>
            </div>
            <div class="tags">
                <span><a href="./caterer_orders.html" id="active">ORDERS</a></span>
                <span><a href="./caterer_services.html">SERVICES</a></span>
                <span><a href="./caterer_menu.html" >MENU</a></span>
                <span><a href="/contact.html">CONTACT</a></span>
            </div>
            <div class="right">
                <div class="button">
                    <a href="./components/login.html">LOGOUT</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="heading">Order Details</div>
        <div class="main">
            <div class="left-details">
                <div class="left-block">
                    <h2>Booking Details</h2>
                    <div class="left-item">
                        <label for="caterers-name">Client Name</label>
                        <p>:</p>
                        <p>Goku</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Phone Number</label>
                        <p>:</p>
                        <p>+(91) 9876543210</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Venue Address</label>
                        <p>:</p>
                        <p>Ghaziabad, Greater Noida,Faridabad</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">No. of people </label>
                        <p>:</p>
                        <p>500</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">No. of Caterers</label>
                        <p>:</p>
                        <p>50</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Booking Date</label>
                        <p>:</p>
                        <p>03/11/2023 </p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Event Date</label>
                        <p>:</p>
                        <p>04/11/2023 </p>
                    </div>
                    <div class="dashed-border"></div>
                    <div class="left-item">
                        <label for="caterers-name">Total Item</label>
                        <p>:</p>
                        <p>30</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Price/Plate</label>
                        <p>:</p>
                        <p>₹ 300</p>
                    </div>
                    <div class="left-item">
                        <label for="caterers-name">Total</label>
                        <p>:</p>
                        <p>₹ 50,000</p>
                    </div>
                </div>
            </div>
            <div class="right-details">
                <h2>Menu Items</h2>
                <div class="right-block">
                    <h3>Break Fast</h3>
                    <div class="right-item">
                        <label for="dish-name">Alooo paratha</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 80</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Poha</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 50</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Jalebi</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 50</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Tea</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 20</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Samosa</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 10</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Chole Kulche</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 70</p>
                    </div>
                    <h3>Lunch</h3>
                    <div class="right-item">
                        <label for="dish-name">Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 170</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Daal makkhni</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 120</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Dum Alooo</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 110</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Mix Veg</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 70</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Fried Rice</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 80</p>
                    </div>
                    <h3>Dinner</h3>
                    <div class="right-item">
                        <label for="dish-name">Palak Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 170</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Matar Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 180</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Chilly Paneer</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 220</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Malai Panner </label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 240</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Butter Naan</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 30</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Papad</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 25</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Rasmalai</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 50</p>
                    </div>
                    <div class="right-item">
                        <label for="dish-name">Rice</label>
                        <p class="dotted-border">••••••••••••••••••••••••••••••••••</p>
                        <p>₹ 600</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>