<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/caterer_orders.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="left">
                <div class="logo">
                    <a href="./index.html">BOOK MY CATERING </a>
                </div>
            </div>
            <div class="tags">
                <span><a href="./caterer_orders.html" id="active">ORDERS</a></span>
                <span><a href="./caterer_services.html">SERVICES</a></span>
                <span><a href="./caterer_menu.html" >MENU</a></span>
                <span><a href="/contact.html">CONTACT</a></span>
            </div>
            <div class="right">
                <div class="button">
                    <a href="./components/login.html">LOGOUT</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="orders">
            <div class="order">
                <p class="heading" name="caterer">Caterers Name</p>
                <p class="items u" name="caterer">Venu</p>
                <p class="items u" name="caterer">No. of persons</p>
                <p class="items d" name="caterer">Venu Name</p>
                <p class="items d" name="caterer">400</p>
                <p class="items u" name="caterer">Booking Date</p>
                <p class="items u" name="caterer">Event Date</p>
                <p class="items d" name="caterer">12/4/2022</p>
                <p class="items d" name="caterer">20/4/2022</p>
                <p class="border"></p>
                <p class="items u" name="caterer">Per Plate</p>
                <p class="items u" name="caterer">Total</p>
                <p class="items d" name="caterer">₹ 300</p>
                <p class="items d" name="caterer">₹ 3000</p>
                <button class="detail-button">View Details</button>
            </div>
            <div class="order">
                <p class="heading" name="caterer">Caterers Name</p>
                <p class="items u" name="caterer">Venu</p>
                <p class="items u" name="caterer">No. of persons</p>
                <p class="items d" name="caterer">Venu Name</p>
                <p class="items d" name="caterer">400</p>
                <p class="items u" name="caterer">Booking Date</p>
                <p class="items u" name="caterer">Event Date</p>
                <p class="items d" name="caterer">22/09/2023</p>
                <p class="items d" name="caterer">23/10/2023</p>
                <p class="border"></p>
                <p class="items u" name="caterer">Per Plate</p>
                <p class="items u" name="caterer">Total</p>
                <p class="items d" name="caterer">₹ 300</p>
                <p class="items d" name="caterer">₹ 3000</p>
                <button class="detail-button">View Details</button>
            </div>
        </div>
    </div>
</body>
</html>